@font-face {
  font-family: "Avenir Next LT Pro - Black";
  src: url("./fonts/AvenirLTProBlack.otf") format("opentype");
}
@font-face {
  font-family: "Avenir Next LT Pro - Regular";
  src: url("./fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Avenir Next LT Pro - Bold";
  src: url("./fonts/AvenirNextLTPro-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Avenir Next LT Pro - BoldCn";
  src: url("./fonts/AvenirNextLTPro-BoldCn.otf") format("opentype");
}
@font-face {
  font-family: "Avenir Next LT Pro - Demi";
  src: url("./fonts/AvenirNextLTPro-Demi.otf") format("opentype");
}
@font-face {
  font-family: "Avenir Next LT Pro - It";
  src: url("./fonts/AvenirNextLTPro-It.otf") format("opentype");
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.black_this_tag {
  font-family: "Avenir Next LT Pro - Black";
}
.bold_this_tag {
  font-family: "Avenir Next LT Pro - Bold";
}
.boldcn_this_tag {
  font-family: "Avenir Next LT Pro - BoldCn";
}
.demi_this_tag {
  font-family: "Avenir Next LT Pro - Demi";
}
.it_this_tag {
  font-family: "Avenir Next LT Pro - It";
}
